[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "adaptiveGPCA"]
	path = adaptiveGPCA
	url = https://github.com/jfukuyama/adaptivegpca
[submodule "phyloseqGraphTest"]
	path = phyloseqGraphTest
	url = https://github.com/jfukuyama/phyloseqgraphtest
[submodule "treeDA"]
	path = treeDA
	url = https://github.com/jfukuyama/treeda
